.CustomScrollbar
  &::-webkit-scrollbar
    width: 6px
    @media (max-width: 768px)
      width: 3px

  &::-webkit-scrollbar-track
    border-radius: 0 20px 20px 0
    background: #F5F5FA
  &::-webkit-scrollbar-thumb
    border-radius: 20px
    background: #D8D8D8

.CustomScrollbar_Horizontal
  &::-webkit-scrollbar
    height: 6px
    @media (max-width: 768px)
      height: 3px

  &::-webkit-scrollbar-track
    border-radius: 0 20px 20px 0
    background: #F5F5FA
  &::-webkit-scrollbar-thumb
    border-radius: 20px
    background: #D8D8D8
